    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Code of Conduct</h2>

              <p>
              Neurohackweek is dedicated to providing a harassment-free learning experience for everyone
              regardless of gender, gender identity and expression, sexual orientation,
              disability, physical appearance, body size, race, age or religion. We do not
              tolerate harassment of participants in any form. Sexual language and imagery is
              not appropriate for any conference venue, including talks. Conference
              participants violating these rules may be sanctioned or expelled from the
              conference without a refund at the discretion of the organizers.
            </p>
            <p>
              Harassment includes, but is not limited to:
              <li> Verbal comments that reinforce social structures of domination related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion.</li>
              <li> Sexual images in public spaces</li>
              <li>Deliberate intimidation, stalking, or following</li>
              <li>Harassing photography or recording</li>
              <li>Sustained disruption of talks or other events</li>
              <li>Inappropriate physical contact</li>
              <li>Unwelcome sexual attention</li>
              <li>Advocating for, or encouraging, any of the above behaviour</li>

              <p>
                Participants asked to stop any harassing behavior are expected
                to comply immediately. If a participant engages in harassing
                behaviour, the organisers retain the right to take any actions
                to keep the event a welcoming environment for all participants.
                This includes warning the offender or expulsion from
                Neurohackweek with no refund.
              </p>

              <p>
                Neurohackweek organisers may take action to redress anything
              designed to, or with the clear impact of, disrupting the event or
              making the environment hostile for any participants. We expect
              participants to follow these rules at all the event venues and
              event-related social activities.
            </p>

            <p>
              Harassment and other code of conduct violations reduce the value
              of Neurohackweek for everyone. If someone makes you or anyone else
              feel unsafe or unwelcome, please report it as soon as possible to
              one of <a href="http://neurohackweek.github.io/#instructors"> the
              instructors</a>. You can
              make a report either personally or anonymously. Anonymous reports
              can be made at
              <a href="https://neurohackweek.wufoo.com/forms/neurohackweek-code-of-conduct-violation/"> https://neurohackweek.wufoo.com/forms/neurohackweek-code-of-conduct-violation/</a>

              <div>
                <small>
              This anti-harassment policy is based on the example policy from the [Geek Feminism wiki](http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy), created by the [Ada Initiative](http://adainitiative.org/) and other volunteers.
            </small>
            </div>
            </div>
        </div>
    </section>
