 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/nhw2017/#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Neurohackweek</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="/#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/nhw2017/#locations">Locations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/nhw2017/#schedule">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/nhw2017/#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://github.com/neurohackweek">Github</a>
                    </li>

                    <li>
                      <a class="page-scroll" href="/nhw2017/coc/index.html">Code of Conduct</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="https://form.jotformeu.com/70342294106348">Apply</a>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
