    <!-- Section -->

    <section id="schedule" class="container content-section text-center">
      <div class="table">
        <h2>Tentative Schedule</h2>
        <p></p>
      <table class="table-bordered">
        <thead align="center">
      <tr align="center">
        <th align="center">Time</th>
        <th align="center">Monday</th>
        <th align="center">Tuesday</th>
        <th align="center">Wednesday</th>
        <th align="center">Thursday</th>
        <th align="center">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Morning</td>
        <td>
          9 AM: Introduction to Neurohackweek <br>
          10 AM: Reproducibility in fMRI: What is the problem? (Russ Poldrack)
        </td>
        <td>
          9 AM: <a href="https://madhyastha.github.io/neurohackweek2017/">Cloud computing</a> (Tara Madhyastha)<br>
          <br>
        </td>
        <td>
          9 AM: Machine Learning (Jake Vanderplas) <br>
          11 AM: Machine learning in neuroimaging (Chris Holdgraf)
        </td>
        <td> 9 AM: Neuroimaging pipelines <br>(Satra Ghosh and Chris Gorgolewski)</td>

        <td> 9 AM: Team projects </td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td> Data science tools <br>
          <a href="https://neurohackweek.github.io/advancedunix/">
            Advanced Unix and Make</a><br>
          <a href="https://neurohackweek.github.io/python-for-programmers/">Python</a><br>
          <a href="https://github.com/neurohackweek/git-and-github">Git and Github</a><br>
          <a href="http://www.slideshare.net/chrisfilo1/software-testing-for-scientists">Software testing</a><br>
          <a href="https://jmumford.github.io/R-tutorial/">R</a><br>
        </td>
        <td> 1 PM: Team project pitches <br>
            2 PM - 6 PM Team projects <br>
            3 PM: Breakout session (Nick Cain, AIBS)<br>

        </td>
        <td>1 PM - 6 PM: Team projects <br>
          3 PM: Breakout session (JB Poline, MNI)
          4 PM: <a href="https://github.com/jmumford/nhwEfficiency">Breakout session</a> (J Mumford)
        </td>
        <td>1 PM - 6 PM: Team projects <br>
            3 PM: Breakout session (Bing Brunton, UW) </td>
        <td>Project presentations</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>7 PM: Welcome reception</td>
        <td>6 PM - midnight : Hackathon sessions <br> (Alder hall)</td>
        <td>6 PM - midnight : Hackathon sessions <br> (Alder hall)</td>
        <td>6 PM - midnight: Hackathon sessions <br> (Alder hall)</td>
        <td>6:30 PM: Farewell reception and Lake Union cruise </td>
      </tr>
    </tbody>
  </table>
</div>
    </section>
